<% layout('layouts/boilerplate') %>
<div class="shadow-sm p-1 bg-light rounded col-xs-6 col-xl-12">
<div id="cluster-map">
</div>
</div>
<h2 class="text-center">Viewing All Campgrounds</h2>
<div class="text-end">
  <a href="/campgrounds/new">Add Campground</h4></a>
</div>

<% for (let campground of campgrounds) {%>
<div class="shadow-sm p-3 card mb-3">
  <div class="row">
    <div class="col-md-4">
      <% if(campground.images.length) { %> 
      <img class="img-fluid" src="<%= campground.images[0].url %>" alt="" />
      <% } else { %>
        <img class= "img-fluid" src="https://res.cloudinary.com/ddokrqzy1/image/upload/v1642537146/YelpCamp/hjey2sshojwpqugvv73g.jpg" alt="">
        <% } %>  
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title"><%= campground.title %></h5>
        <p class="card-text"><%= campground.description %></p>
        <p class="card-text">
            <small class="text-muted">
            <%= campground.location %>
        </p>
        <a href="/campgrounds/<%= campground._id %>" class="btn btn-primary">View <%= campground.title %></a>
        </small>
      </div>
    </div>
  </div>
</div>
<% }%>
<script>
const campgrounds = {features: <%- JSON.stringify(campgrounds) %>}
</script>
<script src="/javascripts/clusterMap.js"></script>